@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
/* to hide the native tabs */

#TabsToolbar {
    visibility: collapse;
}

/* to hide the sidebar header */

#sidebar-header {
    visibility: collapse;
}
