# Ignore notes
*notes*
*~
*.elc
auto-save-list
recentf
savehist
saveplace
eshell
elpa
.DS_Store
el-get
semanticdb
url
ede-projects.el
custom.el
places
.smex-items
savefile/
projectile-bookmarks.eld
session*
.cask
tramp
/var/pcache
.emacs.desktop
.emacs.desktop.lock
network-security.data


